body,main{
    color: white;
    background-color: #3A4663;
}

#calc-container{
    background-color: #3A4663 ;
}

#theme-toggle-control{
    background-color: #242D44;
}

#theme-toggle-control::-webkit-slider-runnable-track {
    background-color: #242D44;
  }

#theme-toggle-control::-webkit-slider-thumb {
    background-color:hsl(6, 63%, 50%); 

}

#theme-toggle-control::-moz-range-track {
    background-color: #242D44;
  }


#theme-toggle-control::-moz-range-thumb {
    background-color:hsl(6, 63%, 50%); 

  }


#calc-display{
    background-color: #181F33 ;
    color: white;
}



#calc-controls-container{
    background-color: #242D44;
}

.standard-button, .operation{
    background-color: #EAE3DC;
    border-bottom:#979797 4px solid;
}

.equal-button{
    background-color: #D03F2F;
    border-bottom: #9c2e22 4px solid;
    color: white;

}

.delete-button, .reset-button{

    background-color: #647198 ;
    color: white;
    border-bottom: #444e6e 4px solid;
}

.standard-button:hover, .operation:hover{
    background-color: white;
}

.delete-button:hover, .reset-button:hover{
    background-color: #A2B2E1;
}

.equal-button:hover, #theme-toggle-control:hover::-webkit-slider-thumb {
    background-color: #F96B5B;

}

