body,main{
    color: #36362C;
    background-color: #E6E6E6;
}

#calc-container{
    background-color: #E6E6E6 ;
}

#theme-toggle-control{
    background: #D2CDCD;
}

#theme-toggle-control::-webkit-slider-runnable-track {
    background-color: #D2CDCD;
  }

#theme-toggle-control::-webkit-slider-thumb {
    background-color:#C85402; 

}

#theme-toggle-control::-moz-range-track {
    background-color: #D2CDCD;
  }


#theme-toggle-control::-moz-range-thumb {
    background-color:#C85402; 

  }

#calc-display{
    background-color: #EEEEEE;
    color: #36362C;
}



#calc-controls-container{
    background-color: #D2CDCD;
}

.standard-button, .operation{
    background-color: #E5E4E1;
    border-bottom:#8b8b8b 4px solid;
}

.equal-button{
    background-color: #C85402;
    border-bottom: #913d01 4px solid;
    color: white;

}

.delete-button, .reset-button{

    background-color: #378187 ;
    color: white;
    border-bottom: #2b666b 4px solid;
}

.standard-button:hover, .operation:hover{
    background-color: white;
}

.delete-button:hover, .reset-button:hover{
    background-color: #62B5BC;
}

.equal-button:hover, #theme-toggle-switch:hover {
    background-color: #FF8A38;

}

